/* Base Styles for Mobile First */
body {
    font-family: Arial, sans-serif;
    font-size: small;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #fcd3de;
}

header {
    background: #343434;
    color: #fff;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    position: relative;
}

.menu-toggle {
    display: none;
}

.menu-icon {
    display: block;
    cursor: pointer;
    width: 30px;
    height: 21px;
}

.menu-icon .bar {
    display: block;
    width: 100%;
    height: 3px;
    margin-bottom: 5px;
    background-color: #fff;
}

.nav-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    flex-direction: column;
    align-items: center;
}

.nav-menu li {
    margin: 1em 0;
}

.nav-menu li a {
    color: #fff;
    text-decoration: none;
    background-color: aqua;
}

button {
    width: 20vw;
    height: 10vw;
    margin-right: 0;
    background-color: bisque;
}

.cart-btn {
    width: 25vw;
}

.product-img {
    margin-left: 5vw;
    margin-top: 5vw;
    width: 90%;
    border-radius: 7%;
    box-shadow: 5px 5px 10px ;
}

.product {
    display: flex;
    flex-direction: column;
}

.product-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 3vw;
    padding-right: 3vw;
    text-align: justify;
    height: 35vh;
    justify-content: space-evenly;
}

.review-stars {
    width: 50%;
    scale: 0.75;
}

.add-cart {
    display: flex;
}

.cart-review {
    display: flex;

    justify-content: center;
    padding-left: 20px;
}

.menu-toggle:checked + .menu-icon + .nav-menu {
    display: flex;
}

footer {
    background-color: #343434;
    color: #fff;
    padding: 0.6em 0;
    text-align: center;
    bottom: 0;
    position: fixed;
    width: 100vw;
}

/* Media Queries for Larger Screens */
@media (min-width: 768px) {
    .menu-icon {
        display: none;
    }

    .nav-menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .nav-menu li {
        margin: 0 1em;
    }
    
    button {
        width: 10vw;
        height: 5vw;
    }
}

/* CSS For Checkout Page*/

.checkout_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3.125em;
}

.summary, 
.checkout-form {
    background-color: #fff;
    padding: 4em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    margin-bottom: 4em;
}

.summary h2, .checkout-form h2 {
    text-align: left;
    margin-bottom: 1.25em;
}
.summary {
    border-right: 1px solid #ddd;
}
.checkout-form input, .checkout-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}
.checkout-form .checkout-btn {
    width: 100%;
    padding: 1em 1.2em;
    margin-top: 2em;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
}
.checkout-form .checkout-btn:hover {
    background-color: #45a049;
}

.checkout-form .apple-pay-button {
    width: 80%;
    padding: 15px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
}

.checkbox-group {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20em
}

#checkbox {
    width: 1.563em;
    margin: 0;
}

.checkbox-text {
    display: flex;
    float: right;
}